@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121116;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.header {
    margin-bottom: 50px;
}

.main {
    margin-bottom: 80px;
}

.title {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

li {
    list-style: none;
}

.footer{
    font-size: 15px;
    font-weight: 600;
}

.kasper{
    color: #19C8FA;
}

