$style: 'about-us';
.#{$style}{
    padding: 50px 30px;
    @include flex(space-between, center);
    background-color:$tifani;
    &__img{
        // box-shadow: -18.8px 6.8px 49.5px 0.5px rgba(0, 0, 0, 0.3);
            flex: 1 1 50%;
            @include size(50%);
    }
    &__content{
        padding-left: 94px;
        flex: 1 1 50%;
    }
    &__title{
        @include text($main-title, bold, $white);
        margin-bottom: 34px;
    }
    &__text{
        @include text($content-text, 300, $white);
        line-height: 1.59;
    }
}