$style: 'gallery';
.#{$style}{
    background-color: $yellow;
    padding: 100px 15px 120px;
    margin: 0 auto;
    &__title{
        text-align: center;
        @include text($main-title, bold, $black);
        margin-bottom: 28px;
    }
    &__subtitle{
        max-width: 577px;
        text-align: center;
        line-height: 1.59;
        @include text($content-text, 300, $black);
        margin: 0 auto 46px;
    }
    &__albom {
        @include flex (center, center, row, wrap);
        width: 100%;
        margin-bottom: 50px;
    }
    &__list-item {
        max-width: 100%;
        flex-basis: 100%;
        margin-bottom: 30px;
        @media screen and (min-width: 700px) {
            max-width: calc(50% - 15px);
            flex-basis: calc(50% - 15px);
            margin-right: 30px;
            margin-bottom: 30px;
        }
        &:nth-child(n + 3) {
            @media screen and (min-width: 700px) {
                margin-bottom: 0;
            } 
        }
        &:nth-child(2n + 2) {
            margin-right: 0;
        }
        &--big {
            @media screen and (min-width: 700px) {
                max-width: calc(67% - 15px);
                flex-basis: calc(67% - 15px);
            }
        }
        &--small {
            @media screen and (min-width: 700px) {
                max-width: calc(33% - 15px);
                flex-basis: calc(33% - 15px);
            }
        }
    }
    &__img-wrapper {
        @include padding-hack (66.5%, cover);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        &--small{
            @include padding-hack (62.6%, cover);
            margin-bottom: 30px;
        }
    }
    &__btn{
        @include flex(center, center);
        width: 200px;
        height: 55px;
        background-color: $btn-gallery;
        @include text($btn-size, 300);
        border: none;
        outline: none;
        font-family: 'Raleway', sans-serif;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
        margin: 0 auto;
    }
}