$style: 'gallery';
.#{$style}{
    background-color: $yellow;
    padding: 100px 30px 120px;
    margin: 0 auto;
    &__title{
        text-align: center;
        @include text($main-title, bold, $black);
        margin-bottom: 28px;
    }
    &__subtitle{
        max-width: 577px;
        text-align: center;
        line-height: 1.59;
        @include text($content-text, 300, $black);
        margin: 0 auto 46px;
    }
    &__albom{
        @include flex(flex-start, stretch, column);
        margin-bottom: 50px;
        img{
            display: block;
        }
    }
    &__row{
        overflow: hidden;
        @include flex(flex-start, stretch);
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__img-wrapper{
         &--big-img{
             width: 100%;
             @include padding-hack(41.1%, contain);
            margin-right: 30px;
         }
         &--small-img{
            width: 50%;
            margin-bottom: 30px;
            @include padding-hack(50%, contain, true);
            &:last-child{
                margin-bottom: 0;
            }
         }
         &--last-img{
            width: 100%;
            margin-right: 30px;
            @include padding-hack(32.5%, contain);
            &:last-child{
                margin-right: 0;
            }
         }
    }
    &__col{;
        
    }
    
    &__btn{
        @include flex(center, center);
        width: 200px;
        height: 55px;
        background-color: $btn-gallery;
        @include text($btn-size, 300);
        border: none;
        outline: none;
        font-family: 'Raleway', sans-serif;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
        margin: 0 auto;
    }
}