$style: 'gallery';
.#{$style}{
    background-color: $yellow;
    padding: 100px 30px 120px;
    margin: 0 auto;
    &__title{
        text-align: center;
        @include text($main-title, bold, $black);
        margin-bottom: 28px;
    }
    &__subtitle{
        max-width: 577px;
        text-align: center;
        line-height: 1.59;
        @include text($content-text, 300, $black);
        margin: 0 auto 46px;
    }
    &__albom{
        @include flex(flex-start, stretch, column);
        margin-bottom: 50px;
    }
    &__container-first{
        margin-bottom: 30px;
        @include flex;
        padding: 0;
        flex: 1;
    }
    &__container-img{
        margin-right: 30px;
        padding: 0;
        background-color: red;
        max-width: 770px;
        max-height: 550px;
        object-fit: cover;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
        flex: 1;
    }
    &__container-mini{
        img{
            @include flex(stretch, stretch, column);
            margin-bottom: 30px;
            object-fit: cover;
            padding: 0;
            box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
            &:last-child{
                margin: 0;
            }
        }
    }
    &__container-second{
        @include flex;
    }
    &__container-second-img{
        min-width: 570px;
        margin-right: 30px;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
        &:last-child{
        margin-right: 0;
        }
    }
    &__btn{
        @include flex(center, center);
        width: 200px;
        height: 55px;
        background-color: $btn-gallery;
        @include text($btn-size, 300);
        border: none;
        outline: none;
        font-family: 'Raleway', sans-serif;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
        margin: 0 auto;
    }
}