//font-family: 'Pacifico', cursive;

//colors
$black: #262626;
$white: #ffffff;
$activ: #ff6033;
$tifani: #00c4c4;
$sky-blue: #70bfff;
$yellow: #ffe92f;
$btn-gallery: #5585a2;
$btn-subscibe: #96b92c;
$light-purple: #b07cf7;
$activ-form: #355b82;
$light-purple: #b07cf7;
$grey: #b9b9b9;
$pink: #ff2b58;
$red: #F72B3B;

//font-sizes
$main-title: 90px;
$header-title: 60px;
$big-logo: 50px;
$subs-title: 40px;
$number-blog: 32px;
$small-logo: 25px;
$bit-text: 21px;
$btn-size: 20px;
$content-text: 17px;
$header-menu: 16px;
$small-size: 15px;
