//color
$white: #fff;
$black: #000;
$red: #F72B3B;
$dark-color: #262626;
$bg-color: #B07CF7;

//font-size
$title: 90px;
$number: 32px;
$bit-text: 21px;
$medium-text: 20px;
$small-text: 17px;
$author-text: 13px;
