$white: #fff;
$border: #2b80ac;
$bg-color: #3399cc;
$paris: #33cccc;
$belgrad: #996699;
$moscow: #c24747;
$tel-aviv: #e2664a;
$cair: #ffcc66;
$new-york: #99cc99;
$new-dehli: #669999;
$san-fra: #cc6699;
$tokyo: #339966;
$sydney: #666699;

$title-text: 35px;
$list-text: 25px;
$icon-text: 30px;
$ft-text: 20px;

$border-style: 3px solid $white;
