@font-face {
    font-family: "HansKendrick-Regular";
    src: url(../assets/fonts/HansKendrick-Regular.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "HansKendrick-Regular", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $bg-color;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
