@import "vars";
@import "mixins";
@import "common";
.news {
    max-width: 1200px;
    padding-top: 90px;
    &__block{
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 540px;
        margin-right: 19px;
        margin-bottom: 20px;
        background-color: $white;
    }
    &__block:first-child {
        display: flex;
        width: 740px;
        z-index: 2;
        background: url('../img/Layer\ 8@1X.png');
        box-shadow: inset 0px -400px 100px -50px rgba(0,0,0,0.6);
    }
    &__block-img{
        margin-bottom: 28px;
        &--four{
            margin-bottom: 62px;
        }
    }
    &__load{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;  
        font-size: $small-text;  
        color: $grey;
        font-weight: bold;
        span {
            padding-left: 13px;
        }
    }
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 88px;
}

.block{
    padding-left: $pd;
    &__img{
        margin-bottom: $pd;
        &:nth-child(4){
            margin-bottom: 62px; 
        }
    }
    &__data{
        color: $grey;
        font-size: $small-text;
        margin-bottom: 20px;
    }
    &:first-child{
        padding-left: 47px;
    }
    &:first-child &__data{
        padding-top: 405px;
        margin-bottom: 23px;
        font-size: $small-text;
    }
    &__content{
        color: $black;
        font-size: $medium-text;
        margin-bottom: 70px;
        &--first{
            font-size: $big-text;
            color: $white;
            width: 500px;
            margin-bottom: 0;
        }
    }
    &__author{
        width: 54px;
    }
}