$style: 'header';
.#{$style}{
    min-height: 100vh;
    background-image: url(../img/bg-header.png);
    @include flex;
    position: relative;
    &__title{
        // @include text;
    }
    &__subtitle{

    }
    &__form{

    }
    .form{
        &__search{

        }
        &__btn{
    
        }
        &__text{

        }
        &__icon{

        }
    }
    &__scroll{

    }
    &__nav{

    }
    .nav{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $main-color;
        &__logo{

        }
        &__menu{

        }
        &__item{

        }
    }
}