//color
$price-color: #02995B;
$bronze-color: #cd7f32;
$gold-color: #FFD700;
$silver-color: #aaa9ad;
$text-color: #333333;
$bg-color: #fdde7f;

//font-size
$price-size: 70px;
$title-size: 56px;
$info-size: 20px;
