@import "vars";
@import "mixins";
@import "common";

.block {
    &__cards{

    }
    &__card{

    }
    &__price{
        
    }
    &__cup{
        svg{
            width: 49px;
            height: 46px;
            &:nth-child(2){
                width: 135px;
                height: 77px;
            }
            &:nth-last-child(3){
                width: 36px;
                height: 45px;
            }
        }
    }
    &__title{

    }
    &__info{

    }
}