$style: 'comments';
.#{$style}{
    padding: 120px 100px 200px 100px;
    background: $dark-grey url(../img/Rectangle4142@1X.png);
    background-size: cover;
    &__title{
        @include text($H360, normal, $white){
            line-height: .72;
            font-family: $aleo;
            text-align: center;
        };
        margin-bottom: 94px;
    }
    &__block{
        @include flex(stretch, stretch);
    }
    &__img-wrapper{
        // width: 100%;
        background-size: cover;
        display: flex;
        flex: 1;
    }
    &__content{
        flex: 1;
        background-color: $dark-grey;
        padding: 50px 54px 48px 60px;
    }
    &__name{
        @include text($H200, normal, $testimonials-color){
            line-height: 1.3;
        }
    }
    &__text{
        @include text($H60, normal, $light-grey){
            line-height: 1.63;
        }
        .start{
            @include text($H360, bold, $main-color);
            padding-bottom: 0;
        }
    }
}