*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    font-size: 100%;
} 

body{
    font-family: $josefin;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.bnt-link{
    display: inline-block;
    // height: 60px;
    padding: 24px 38px;
    background-color: $main-color;
    @include text($H60, normal, $testimonials-color){
        letter-spacing: 1.2px;
        line-height: 1.63px;
        font-family: $aleo;
        text-transform: uppercase;
    }
    @include transition(background-color);
    &:hover{
        background-color: rgba(84, 116, 253, .7);
    };
}