//font-family
$play-font: 'Playfair Display', serif;
$lato_font: 'Lato', sans-serif;

//colors
$white:#FFFFFF;
$black: #171717;
$btn-color: #eaa258;

//font-sizes
$mine-letter: 110px;
$title-text: 42px;
$qoute-text: 20px;
$content-text: 18px;