body {
    background: #990109;
    font-size: 18px;
    color: white;
    min-height: 100%;
}

li {
    list-style: none;
}

/*header*/

.header_img img{
    display: flex;
    margin: 10px auto;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    margin-bottom: 0;
}

.menu .menu_element{
    padding-top: 40px;
}

.menu img {
    width: 300px;
    height: auto;
}

.menu p {
    text-align: center;
}

/*main*/

.content {
    display: flex;
    flex-direction: row;
}

.links {
    background: #7d0909;
    display: flex;
    flex-direction: column;
    width: 20%;
    top: 10px;
}

.links li {
    margin-bottom: 11px;
}

.links li:last-child {
    margin-bottom: 0;
}

.links li a {
    color: #e95b11;
}

.information {
    width: 70%;
    padding: 20px 10px 0 10px;
}

.title {
    background: #e3dddd;
    color: black;
    padding-top: 0;
}

.title p:first-child {
    background: #bdbdbd;
    margin: 0;
}

.title hr {
    width: 100px;
    height: 2px;
}

.title p {
    padding-left: 10px;
}

/*footer*/

.footer p{
    background: #e95b11;
    font-size: 20px;
    text-align: center;
    width: 100vw;
}