$style: 'about-us';
.#{$style} {
    padding: 160px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    &__title{
        position: absolute;
        width: 400px;
        font-size: $main-title-size;
        letter-spacing: 5.44px;
        font-weight: bold;
        transform: translateY(-50%);
        background-color: $white;
    }
    &__content{
        width: 900px;
        border: 2px solid $black;
        padding: 77px 171px 28px 178px;
    }
    &__text{
        width: 530px;
        margin: 0 auto;
        font-weight: 300;
        line-height: 1.5;
        font-weight: 300;
        font-size: $big-size;
        color: $black;
    }
}