@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    min-width: 1170px;
}

ul {
    list-style: none;
}

img {
    width: 270px;
    height: 270px;
}

svg {
    fill: $white;
    width: 23px;
}