@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    font-size: 100%;
} 

ul{
    list-style: none;
}