$style: 'dots';
.#{$style}{
    display: flex;
    @include flex(center, center);
    &__radio{
        @include flex(center, column);
    }
    &__item{
        margin-right: 9px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__point{
        opacity: 0;
        // display: none;
    }
    &__new-point{
        position: relative;
        &:after{
            content:'';
            position: absolute;
            width: 11px;
            height: 11px;
            border: 1px solid $marigold;
            background-color: $marigold;
            border-radius: 50%;
            right: 50%;
            top: 10%;
            cursor: pointer;
        }
    }
    input[type=radio]:checked ~ span:after {
        background-color: #ffffff;
    }
}