$style: 'footer';
.#{$style}{
    display: flex;
    @include flex(center, center);
    &__item{
        margin-right: 9px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__point{
        // opacity: 0.4;
        display: none;
    }
    &__new-point{
        position: relative;
        &:after{
            content:'';
            position: absolute;
            width: 11px;
            height: 11px;
            border: 1px solid $black;
            background-color: $black;
            border-radius: 50%;
        }
    }
    input[type=radio]:checked ~ span:before {
        background-color: $marigold;

    }
}