$style: 'main';
.#{$style}{
    display: flex;
    height: 560px;
    margin-bottom: 40px;
    &__section-left{
        display: flex;
        flex: 1;
        border-right: 1px solid $marigold;
    }
    &__photo{
        display: flex;
        @include flex(center, center);
        margin: 0 auto;
        position: relative;
        img{
            border: 2px solid $marigold;
        }
    }
    &__border-photo{
        position: absolute;
        width: 100px;
        height: 100px;
        border-top: 2px solid $marigold;
        border-left: 2px solid $marigold;
        &:first-child{
            top: 70px;
            left: -14px;
        }
        &:nth-child(2){
            transform: rotate(90deg);
            top: 70px;
            right: -14px;
        }
        &:nth-child(3){
            transform: rotate(180deg);
            right: -14px;
            bottom: 70px;
        }
        &:nth-child(4){
            transform: rotate(-90deg);
            bottom: 70px;
            left: -14px;
        }
    }
    &__section-right{
        display: flex;
        flex: 1;
        @include flex(flex-start, center, column);
        border-left: 1px solid $marigold;
    }
    &__name{
        padding-top: 86px;
        @include text($name-size, 900, $brownish-grey);
        line-height: 0.67;
        letter-spacing: 0.72px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 68px;
        position: relative;
        &:before{
            position: absolute;
            content: '';
            width: 100px;
            height: 2px;
            background-color: $marigold;
            bottom: -34px;
            left: 66px;
        }
    }
    &__position{
        @include text($position-size, normal, $brownish-grey);
        margin-bottom: 29px;
        line-height: 1.5;
    }
    &__social-list{
        display: flex;
        @include flex(center, center);
        margin-bottom: 31px;
    }
    &__social-item{
        width: 30px;
        height: 30px;
        border: 2px solid $very-light-pink;
        border-radius: 50%;
        display: flex;
        cursor: pointer;
        margin-right: 5px;
        @include flex(center, center);
        @include transition(all);
        svg{
            @include svg(11px, $very-light-pink);
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background-color: $very-light-pink;
            border-color: $bluish-grey;
            svg {
                fill: $bluish-grey;
            }
        }
    }
    &__bio{
        display: block;
        text-align: center;
        @include text($small-size, 500, $black);
        line-height: 1.71;
        margin-bottom: 22px;
    }
    &__block{
        width: 20px;
        height: 4px;
        margin-bottom: 26px;
        background-color: $marigold;
        position: relative;
        &::before, &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 4px;
            background-color: $marigold;
        }
        &::before{
            right: 25px;
        }
        &::after{
            left: 25px;
        }
    }
    &__btn{
        width: 120px;
        height: 24px;
        border: 1px solid $marigold;
        background-color: #fff;
        font-family: 'Open Sans', sans-serif;
        @include text($small-size, 700, $brownish-grey);
        @include transition(all);
        cursor: pointer;
        outline: none;
        &:hover{
            background-color: rgba(255, 204, 0, .3);
        }
        &:active{
            background-color: $marigold;
        }
    }
}