// colors
$very-light-pink: #cccccc;
$bluish-grey: #898f8f;
$brownish-grey: #666666;
$black: #333333;
$marigold: #ffcc00;

//font-sizes
$over-title-size: 18px;
$title-size: 60px;
$name-size: 36px;
$position-size: 24px;
$small-size: 14px;